.ui.secondary.massive.menu {
  margin-bottom: unset;
}
.ui.icon.input {
  width: 20em;
  height: 1.9em;
}
.ui.icon.input button {
  padding: 5px 15px;
  margin-left: 5px;
}

.item.header-logo {
  font-weight: bold;
  font-size: 2rem;
  text-transform: uppercase !important;
}
header h2 {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to bottom left, #553c9a, #ee4b2b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
