.actual-realises-block {
  margin: 40px 60px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.actual-realises-container {
  padding: 15px;
}

.actual-realises-info {
  display: flex;
  flex-direction: row;
}
.actual-heading {
  display: flex;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 800;
  color: rgb(87, 10, 10);
}
.actual-realises-content {
  border-radius: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  box-shadow: inset 20px 10px 130px 5px rgb(254, 241, 3),
    inset -20px -10px 130px 5px rgb(254, 62, 3);
}
.actual-game {
  padding: 30px;
  width: 20%;
  text-align: center;
}
.actual-game div {
  height: 300px;
  width: 100%;
}
.actual-img {
  max-width: 100%;
  max-height: 100%;
}
.actual-game span {
  color: green;
  font-weight: 800;
  font-size: 18px;
}
.actual-date {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30%;
}

.actual-date span {
  display: block;
  font-weight: 800;
  font-size: 25px;
  margin: 25px;
}
.item_button-actual {
  width: 300px;
  height: 50px;
  padding: 20px 20px;
}

.actual-realises-block.autumn {
  background-position: center;
  background: url("../images/autumn-park-leaves-sun-1053614486.jpg"), no-repeat;
  background-size: cover;
}
.actual-realises-block,
.winter {
  background: url("../images/winter_time_with_a_lot_of_fun_1.jpg"), no-repeat;
  background-size: cover;
}
.actual-realises-block.spring {
  background: url("../images//spring-blossom.jpg"), no-repeat;
  background-size: cover;
}
.actual-realises-block.summer {
  background: url("../images//5356755_062119-cc-ss-summer-sun-img.jpg"),
    no-repeat;
  background-size: cover;
}

.card {
  display: inline-block;
  width: 215px;
  border-radius: 10px;
  padding: 16px;
  overflow: hidden;
  background: linear-gradient(130deg, #f6a610 0%, rgb(255, 255, 255) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  transition: all 0.4s;
}
.card:hover {
  transform: scale(1.05);
}

.cover {
  position: relative;
  margin-bottom: 18px;
}
.cover img {
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 4px;
}
.card:hover {
  bottom: 6px;
  opacity: 1;
}

.card-content {
  font-family: "Montserrat", sans-serif;
  color: #04020e;
  padding-bottom: 15px;
}
.card-content h4 {
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 6px;
}
.card-content p {
  overflow: hidden;
  -webkit-box-orient: vertical;
  height: 2.5em;
  font-size: 1rem;
  margin-top: 6px;
  color: rgb(41, 47, 41);
}

.card-button {
  cursor: pointer;
  width: 100%;
  padding: 15px;
  background: linear-gradient(130deg, #ff5443 0%, #ff8f4e 100%);
  border: 0px;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 1600px) {
  .card {
    display: inline-block;
    width: 200px;
  }
}

@media (max-width: 1480px) {
  .actual-realises-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .actual-realises-container {
    padding: 10px 15px;
  }
}

@media (max-width: 640px) {
  .actual-realises-block {
    margin: 40px 0px;
    box-shadow: inset 40px 10px 230px 5px rgb(255, 234, 0),
      inset -40px -10px 230px 5px rgb(253, 122, 0);
    margin-bottom: 0;
  }
  .actual-realises-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .actual-heading {
    display: flex;
    justify-content: center;
    width: 300px;
  }
  .actual-heading h2 {
    color: rgb(0, 0, 0);
    font-size: 1.6rem;
  }
  .card {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    padding: 10px;
  }
  .card span {
    font-weight: bold;
    font-size: 1.1rem;
  }
  .card-content {
    padding-bottom: 10px;
  }
  .card-content p {
    margin-top: 3px;
  }
  .card-content h4 {
    font-size: 1.3rem;
  }
  .card-button {
    padding: 10px;
  }
}
