.additional-games-block {
  margin: 40px 60px;
  box-shadow: 2px 2px 5px rgb(241, 254, 0), -2px -2px 15px rgb(241, 254, 0);
}
.additional-games-container {
  min-height: 550px;
  padding: 10px 15px;
}
.additional-games-content {
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.additional-item {
  flex-basis: 400px;
  height: 210px;
  border-radius: 15px;
  margin: 10px 10px;
  background-repeat: no-repeat !important;
  background-size: 320px !important;
  background-position: center !important;
  box-shadow: inset 0px -20px 70px 5px rgba(1, 1, 1, 0.6),
    inset 0px 60px 60px 15px rgba(1, 1, 1, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 2;
}
.additional-item.grow {
  flex-grow: 2;
}
.additional-item h2 {
  color: snow;
  padding: 20px;
}

.heading {
  font-size: 1.6rem;
  padding: 0px 15px;
  font-weight: 700;
}
.ui.circular.medium {
  color: black;
}
@media (min-width: 375px) and (max-width: 580px) {
  .additional-item h2 {
    color: snow;
    padding: 20px;
    font-size: 1.3rem;
  }
}
