.totalPriceBar-content {
  position: absolute;
  top: 65px;
  right: 45px;
  background-color: aliceblue;
  width: 400px;
  padding: 10px 30px;
  z-index: 99;
  border: solid 1px navy;
}
.cart-menu {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid;
}
.cart-menu-totalPrice {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  font-weight: 800;
}
@media (max-width: 900px) {
  .totalPriceBar-content {
    position: absolute;
    top: 65px;
    right: 0px;
    background-color: aliceblue;
    width: 300px;
    padding: 10px 30px;
    z-index: 99;
    border: solid 1px navy;
  }
  .cart-menu {
    margin-top: 30px;
    padding: 20px 0 0 0;
  }
}
@media (max-width: 600px) {
  .totalPriceBar-content {
    position: absolute;
    top: 55px;
    right: -220px;
    background-color: aliceblue;
    width: 250px;
    padding: 10px 10px;
    z-index: 99;
    border: solid 1px navy;
  }
  .cart-menu {
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid;
  }
}
