.specialDeals-block {
  margin-top: 30px;
  border: solid 3px red;
  border-right: none;
  border-left: none;
  overflow: hidden;
}
.specialDeals-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-next:before,
.slick-prev:before {
  font-size: 70px !important;
  color: royalblue !important;
}

.slick-prev {
  left: 3% !important;
  z-index: 1;
  width: 4rem !important;
  height: 4rem !important;
  background: black;
}
.slick-next {
  right: 3% !important;
  z-index: 1;
  width: 4rem !important;
  height: 4rem !important;
}

.slick-slider {
  margin: 10px 0;
  box-shadow: inset 130px 300px 40px 30px rgb(255, 214, 70),
    inset -130px -300px 40px 30px rgb(1, 1, 1);
}
.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
