.additional-games-block {
  margin: 40px 60px;
  box-shadow: 2px 2px 5px rgb(241, 254, 0), -2px -2px 15px rgb(241, 254, 0);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.additional-games-container {
  min-height: 550px;
  max-width: 1400px;
  padding: 10px 15px;
}
.additional-games-content {
  height: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.additional-item {
  flex-basis: 280px;
  height: 210px;
  border-radius: 15px;
  margin: 10px 10px;
  background-repeat: no-repeat !important;
  background-size: 320px !important;
  background-position: center !important;
  box-shadow: inset 0px -20px 70px 5px rgba(1, 1, 1, 0.6),
    inset 0px 20px 70px 5px rgba(1, 1, 1, 0.6);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  flex-grow: 1.8;
}
.additional-item.grow {
  flex-grow: 1.8;
}
.additional-item h2 {
  color: white;
  padding: 20px;
}
.circular.medium.ui.button a {
  height: 100% !important;
  display: block !important;
  text-align: center;
}

.heading {
  font-size: 24px;
  padding: 0px 15px;
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Lucida,
    Helvetica, Arial, sans-serif;
  font-weight: 700;
}
.ui.circular.medium {
  color: black;
}
