.cart-block {
  height: 100%;
}
.cart-container {
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  margin: 20px;
}
.your-cart {
  display: flex;
  justify-content: flex-start;
  margin: 20px 0;
}
.cart-warning {
  margin: 20px;
  font-size: 24px;
  text-align: center;
  display: block;
}
.cart-purchases {
  margin: 20px;
  font-size: 24px;
}
.inc-dec-view {
  display: flex;
}
.ui.secondary.massive.menu {
  min-height: 100px !important;
  background: url("https://images.pexels.com/photos/163999/pexels-photo-163999.jpeg?cs=srgb&dl=pexels-fwstudio-163999.jpg&fm=jpg"),
    no-repeat;
  background-position: center;
  background-size: contain;
}

.ui.center.aligned.segment {
  z-index: unset;
}
.ui.message {
  position: unset;
}
.ui.segment {
  position: unset;
}

.ui.center.aligned.segment {
  margin: 10px 0;
}
