.loader-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(54, 54, 54, 0.3);
  backdrop-filter: blur(10px);
  z-index: 11;
}
.loader {
  background: url("../../../styles/images/spin.svg");
  background-position: center;
  background-size: cover;
  width: 69px;
  height: 69px;
  animation: spin 1s linear infinite;
  position: relative;
  top: 50%;
  left: 48%;
}
.loader-container.disabled {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .loader {
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 320px) {
  .loader {
    width: 22px;
    height: 22px;
  }
}
