* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

main {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.medium.ui.button {
  margin: 15px;
}
.medium.ui.button a {
  color: black;
}
