* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
