* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

main {
  height: 100%;
  background: url("https://t3.ftcdn.net/jpg/03/91/92/66/360_F_391926635_7va77kCrDILgAviJJOBBgd93FxZbeyib.jpg"),
    no-repeat;
  background-size: contain;
  background-position: center center;
  display: flex;
  flex-direction: column;
}
.Outlet-container {
  flex: 1 0 auto;
}

/* .error-background {
  background-color: beige !important;
  background-size: 100%;
} */

/* .loader-position {
  position: absolute;
  top: 50%;
} */
